@model P5_Express_Voitures_Identity.ViewModels.ReparationsVM

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.IndexTitle</h1>


<p>
    <a asp-action="Create" asp-route-idVoiture=@Model.IdVoiture>Creation d'une nouvelle réparation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type d'Intervention
            </th>
            <th>
                Prix d'Intervention
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reparations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reparation.TypeIntervention)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reparation.PrixIntervention)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Reparation.Id" asp-route-idVoiture=@Model.IdVoiture>Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Reparation.Id" asp-route-idVoiture=@Model.IdVoiture>Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Reparation.Id" asp-route-idVoiture="@item.Reparation.IdVoiture">Delete</a>
                </td>
            </tr>
        }
        <tr></tr>
        <tr>
            <th>
                Le total des réparations de cette voiture est de @Model.CalculTotalReparation() €
            </th>
        </tr>

    </tbody>
</table>
<div>
    <a asp-controller="Voitures" asp-action="Index" )>retour à la liste des voitures</a>
</div>
