@model IEnumerable<P5_Express_Voitures_Identity.ViewModels.VoitureVM>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .img-thumbnail {
            max-width: 400px;
            max-height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<div class="text-center">
<h1 class="display-4">Les meilleures voitures d'occasion:</h1>


    <div class="container">
        <tbody>
            @if (Model != null)
            {
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="item">
                                <h3>@item.Voiture.Marque @item.Voiture.Modele de @item.Voiture.DateAchat.Year</h3>
                                <h4>Prix de vente: @item.Voiture.PrixVente</h4>
                                <p>Statut: @item.StatutVoiture</p>
                                @if (item.Annonce.Photos != null && item.Annonce.Photos.Any())
                                {
                                    <a href="@Url.Content("~/Voitures/images/" + System.IO.Path.GetFileName(item.Annonce.Photos.FirstOrDefault().LienPhoto))" data-lightbox="voitures" class="img-thumbnail">
                                        <img src="@Url.Content("~/Voitures/images/" + System.IO.Path.GetFileName(item.Annonce.Photos.FirstOrDefault().LienPhoto))" alt="Photo de la voiture" class="img-thumbnail">
                                    </a>
                                }
                                else
                                {
                                    <p>Aucune photo disponible</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </tbody>
    </div>
