@model IEnumerable<P5_Express_Voitures_Identity.ViewModels.VoitureVM>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .img-thumbnail {
            max-width: 200px;
            max-height: 100px;
            object-fit: cover;
        }

        body{
            background-color: #f2f2f2;
        }
    </style>
</head>

<div class="text-center" style="font-weight: bold; ">
<h1 class="display-4">Les meilleures voitures d'occasion:</h1>
    <h2 class="display-6">Appelez nous au 06 06 06 06 06</h2>
</div>

    <div class="container" style="background-color: #33D7Ff;"">
        <tbody>
            @if (Model != null)
            {
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="item">
                                <h3>@item.Voiture.Marque @item.Voiture.Modele de @item.Voiture.Annee</h3>
                                <h4>Prix de vente: @item.Voiture.PrixVente €</h4>                             
                                @if (item.Annonce.Photos != null && item.Annonce.Photos.Any())
                                {
                                    <div>
                                        @foreach (var image in item.Annonce.Photos)
                                        {
                                        <a href="@Url.Content("~/Voitures/images/" + System.IO.Path.GetFileName(image.LienPhoto))" data-lightbox="voitures" class="img-thumbnail">
                                                <img src="@Url.Content("~/Voitures/images/" + System.IO.Path.GetFileName(image.LienPhoto))" alt="Photo de la voiture" class="img-thumbnail">
                                        </a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <p>Aucune photo disponible</p>
                                }
                            <p>@item.Annonce.DescriptionAnnonce</p>
                            <p>Statut: @item.StatutVoiture</p>
                            </div>
                        </div>
                    }
                </div>
            }
        </tbody>
    </div>
