@model P5_Express_Voitures_Identity.Models.Annonce

@{
    ViewData["Title"] = "Index";
}

<h1>Annonce de la voiture :</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitreAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionAnnonce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TitreAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.DescriptionAnnonce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Photos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-idVoiture="@Model.IdVoiture">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id" asp-route-idVoiture="@Model.IdVoiture">Details</a>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <a asp-controller="Voitures" asp-action="Index" )>retour à la liste des voitures</a>
</div>
